<!-- SOCIAL PROOF SECTION -->
<section class="services_block">
  
  <!-- CONTAINER -->
  <div class="container">
    

    <div class="title center">
      <h2><span>Social Proof Section</span></h2>
    </div>
    
    <div class="row" style="height:50px"></div>
    <!-- ROW -->
    <div class="row">
      
      <div class="col-lg-4 col-md-5 padbot30 testimonials_block">
        <div class="flexslider testimonials_slider">
          <ul class="slides">
            <li>
              <div class="testimonials_content">Phasellus sollicitudin tincidunt aliquam. Integer vitae varius tortor. Quisque rhoncus placerat erat, ut eleifend lectus placerat non. Vivamus pulvinar tincidunt adipiscing. Mauris velit felis, lobortis ut rhoncus</div>
              <div class="testimonials_author">
                <img src="images/testim_author1.jpg" alt="" />
                <span>Nikki Candelero</span>
              </div>
            </li>
            <li>
              <div class="testimonials_content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</div>
              <div class="testimonials_author">
                <img src="images/testim_author2.jpg" alt="" />
                <span>Lara Kroft</span>
              </div>
            </li>
            <li>
              <div class="testimonials_content">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</div>
              <div class="testimonials_author">
                <img src="images/testim_author3.jpg" alt="" />
                <span>mick jagger</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 padbot30 testimonials_block">
        <div class="flexslider testimonials_slider">
          <ul class="slides">
            <li>
              <div class="testimonials_content">Phasellus sollicitudin tincidunt aliquam. Integer vitae varius tortor. Quisque rhoncus placerat erat, ut eleifend lectus placerat non. Vivamus pulvinar tincidunt adipiscing. Mauris velit felis, lobortis ut rhoncus</div>
              <div class="testimonials_author">
                <img src="images/testim_author1.jpg" alt="" />
                <span>Nikki Candelero</span>
              </div>
            </li>
            <li>
              <div class="testimonials_content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</div>
              <div class="testimonials_author">
                <img src="images/testim_author2.jpg" alt="" />
                <span>Lara Kroft</span>
              </div>
            </li>
            <li>
              <div class="testimonials_content">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</div>
              <div class="testimonials_author">
                <img src="images/testim_author3.jpg" alt="" />
                <span>mick jagger</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 padbot30 testimonials_block">
        <div class="flexslider testimonials_slider">
          <ul class="slides">
            <li>
              <div class="testimonials_content">Phasellus sollicitudin tincidunt aliquam. Integer vitae varius tortor. Quisque rhoncus placerat erat, ut eleifend lectus placerat non. Vivamus pulvinar tincidunt adipiscing. Mauris velit felis, lobortis ut rhoncus</div>
              <div class="testimonials_author">
                <img src="images/testim_author1.jpg" alt="" />
                <span>Nikki Candelero</span>
              </div>
            </li>
            <li>
              <div class="testimonials_content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</div>
              <div class="testimonials_author">
                <img src="images/testim_author2.jpg" alt="" />
                <span>Lara Kroft</span>
              </div>
            </li>
            <li>
              <div class="testimonials_content">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</div>
              <div class="testimonials_author">
                <img src="images/testim_author3.jpg" alt="" />
                <span>mick jagger</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- //ROW -->

  </div><!-- //CONTAINER -->

</section><!-- //SOCIAL PROOF SECTION -->

