<!-- ADVICE & RESOURCES SECTION -->
<section class="projects_block">
  
  <!-- CONTAINER -->
  <div class="container">
    <div class="title center">
      <h2><span>Advice & Resources</span></h2>
    </div>
  </div><!-- //CONTAINER -->
  
</section><!-- //ADVICE & RESOURCES SECTION -->