<!-- ADVICE & RESOURCES SECTION -->
<section class="projects_block">
  
  <!-- CONTAINER -->
  <div class="container">
    <div class="title center">
      <h2><span>Who We Are / What We Do Section</span></h2>
    </div>
  </div><!-- //CONTAINER -->

  <div class="row" style="height:50px"></div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h3>Header 1</h3>
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed.</p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <h3>Header 2</h3>
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed.</p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <h3>Header 3</h3>
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed.</p>
      </div>
    </div>
  </div>
  
</section><!-- //ADVICE & RESOURCES SECTION -->
