<!-- HOME -->
<section id="home" class="padbot0">

  <!-- SLIDER -->
  <div class="flexslider top_slider">
    <ul class="slides">
      <li class="slide1">
        <div class="container">
          <div class="top_slider_caption1">
            <p>A Great Tag Line</p>
            <a class="top_slider_btn" href="">Learn More</a>
          </div>
        </div>
      </li>
    </ul>
  </div><!-- //SLIDER -->
</section><!-- //HOME -->