<!-- SOCIAL PROOF SECTION -->
<section class="services_block">
  
  <!-- CONTAINER -->
  <div class="container">
    

    <div class="title center">
      <h2><span>Social Proof Section</span></h2>
    </div>


  </div><!-- //CONTAINER -->
</section><!-- //SOCIAL PROOF SECTION -->