<% provide(:title, 'Contact Us') %>

<!-- BREADCRUMBS -->
<section class="breadcrumbs_block clearfix">
  
  <!-- CONTAINER -->
  <div class="container">
    <div class="breadcrumbs_content">
      <h2>Contact Us</h2>
    </div>
  </div><!-- //CONTAINER -->
  <div class="overlay"></div>
  <div class="overlay_black"></div>
</section><!-- //BREADCRUMBS -->

<!-- TYPOGRAPHY -->
<section>

  <!-- CONTAINER -->
  <div class="container">
    <!-- ROW -->
    <div class="row">
      <div class="col-lg-12 col-sm-12 padbot30">
        <h3>Lorem Ipsum Doler</h3>
        <p>Donec justo lectus, sagittis at malesuada non, varius et purus. Integer dui diam, pharetra non euismod sit amet, faucibus sollicitudin Phasellus non ligula ac nisi sodales mollis curabitur et lectus in sapien fermentum dictum nec luctus leo nam pretium elit sed mi egeit tincidunt auctor.</p>
        <p>Quam, luctus condimentum elementum sed, fermentum nec enim. Proin ac nisi in magna tris tique los adipiscing et vitae eros. Nam tempus ornare bibendum. Vestibulum fringilla tellus pretium elit dapibus mattis. Curabitur a odio sedcust pharetra imperdiet. Donec ultrices dign issim placerat. In hacs habitasse platea dictumst. Maecenas massa elit, bibendum vel.</p>
        <!-- CONTACT INFO -->
        <ul class="list4 contacts_info">
          <li><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>5512 Lorem Ipsum Vestibulum Mas, Dolor Sit Amet, 666</span></li>
          <li><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="mailto:mail@compname.com" alt="">mail@compname.com</a></span></li>
          
          <li><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><span>(650) 999-9999</span></li>
        </ul><!-- //CONTACT INFO -->
      </div>
    </div><!-- //ROW -->
  </div>
</section>
