<% provide(:title, 'Services') %>

<!-- BREADCRUMBS -->
<section class="breadcrumbs_block clearfix">
  
  <!-- CONTAINER -->
  <div class="container">
    <div class="breadcrumbs_content">
      <h2>Services</h2>
    </div>
  </div><!-- //CONTAINER -->
  <div class="overlay"></div>
  <div class="overlay_black"></div>
</section><!-- //BREADCRUMBS -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h3>Header 1</h3>
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed.</p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <h3>Header 2</h3>
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed.</p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <h3>Header 3</h3>
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed.</p>
      </div>
    </div>
  </div>
</section>

<!-- FULL WIDTH -->
<section>

  <!-- CONTAINER -->
  <div class="container">
    <h2>Example of the columns with text</h2>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>1/1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit erat non neque imperdiet ut lacinia purus varius. Phasellus lobortis lacus vitae lectus elementum id tincidunt sapien condimentum. Etiam interdum erat id felis varius varius. Maecenas diam massa, semper id gravida et.Quisque congue tristique turpis non egestas. Morbi vestibulum, odio eget luctus auctor, purus ipsum sollicitudin eros, quis mollis felis nulla quis nulla. Nam eget risus et felis pharetra sollicitudin ut facilisis justo. Mauris non libero eget nibh convallis convallis nec eget tortor.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <p>1/2 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed. Phasellus cursus mollis nunc, eget vehicula enim elementum sit amet. Duis nec nunc justo, non aliquam orci. Nulla ornare, sapien in commodo</p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <p>1/2 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed. Phasellus cursus mollis nunc, eget vehicula enim elementum sit amet. Duis nec nunc justo, non aliquam orci. Nulla ornare, sapien in commodo</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed.</p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed.</p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3">
        <p>1/4 Aliquam tempus magna ac turpis conse quat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed.</p>
      </div>
      <div class="col-lg-3 col-sm-3">
        <p>1/4 Aliquam tempus magna ac turpis conse quat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed.</p>
      </div>
      <div class="col-lg-3 col-sm-3">
        <p>1/4 Aliquam tempus magna ac turpis conse quat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed.</p>
      </div>
      <div class="col-lg-3 col-sm-3">
        <p>1/4 Aliquam tempus magna ac turpis conse quat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio.</p>
      </div>
      <div class="col-lg-8 col-sm-8">
        <p>2/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed. Phasellus cursus mollis nunc, eget vehicula enim elementum sit amet. Duis nec nunc justo, non aliquam orci. Nulla ornare, sapien in commodo.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <p>2/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed. Phasellus cursus mollis nunc, eget vehicula enim elementum sit amet. Duis nec nunc justo, non aliquam orci. Nulla ornare, sapien in commodo.</p>
      </div>
      <div class="col-lg-4 col-sm-4">
        <p>1/3 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-sm-9">
        <p>3/4 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. Vestibulum a nulla sit amet felis gravida blandit ut sed odio. Etiam neque neque, facilisis sed consequat vitae, ornare sed. Phasellus cursus mollis nunc, eget vehicula enim elementum sit amet. Duis nec nunc justo, non aliquam orci. Nulla ornare, sapien in commodo vulputate ornare mollis nunc id tortor felis gravida.</p>
      </div>
      <div class="col-lg-3 col-sm-3">
        <p>1/4 Aliquam tempus magna ac turpis consequat luctus. Sed erat sapien, porttitor non hendrerit non, mollis a sapien. </p>
      </div>
    </div>
  </div><!-- //CONTAINER -->
</section><!-- //FULL WIDTH -->
