<% provide(:title, 'Transactions') %>

<!-- BREADCRUMBS -->
<section class="breadcrumbs_block clearfix">
  
  <!-- CONTAINER -->
  <div class="container">
    <div class="breadcrumbs_content">
      <h2>Transactions</h2>
    </div>
  </div><!-- //CONTAINER -->
  <div class="overlay"></div>
  <div class="overlay_black"></div>
</section><!-- //BREADCRUMBS -->
