<!-- FOOTER -->
<footer>
  <!-- COPYRIGHT -->
  <div class="copyright clearfix">
  
    <!-- CONTAINER -->
    <div class="container">
      <div class="pull-left">
       <span>Two Bird Capital LLC &copy; - Member FINRA</span>
      </div>
      <div class="pull-right">
        <ul>
          <li><a href="">founders@twobirdcapital.com</a></li>
        </ul>
      </div>
    </div><!-- //CONTAINER -->
  </div><!-- //COPYRIGHT -->
</footer><!-- //FOOTER -->